@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Poppins:wght@100;400;600;800&display=swap");
html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 10px;
}
:root {
  --blue: #1d3c45;
  --brown: #d2601a;
  --white: #fff1e1;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: var(--blue);
}
#root {
  background-color: var(--white);
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}
