.CreateRecipe {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5rem 10rem;
  max-width: 65rem;
}
.CreateRecipe__heading {
  font-family: "Cookie", "Poppins", sans-serif;
  text-align: center;
  color: var(--brown);
  font-size: 2.5rem;
  padding-bottom: 3rem;
}
.CreateRecipe__form {
  display: flex;
  flex-direction: column;
}
.CreateRecipe__form label {
  font-size: 1.6rem;
}
.CreateRecipe__form input,
.CreateRecipe__form textarea {
  margin-bottom: 1rem;
  padding: 0.5rem 2rem;
  font-family: inherit;
  color: var(--blue);
}
.Form__add__ingredients {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.Form__list__ingredients {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-bottom: 1rem;
}

