.Navbar {
  padding: 3rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid #ccc;
}

.Navbar a.active {
  text-decoration: none;
  opacity: 0.5;
}

.Navbar__heading {
  font-family: "Cookie", "Poppins", sans-serif;
  font-size: 3rem;
}

.Navbar__username {
  font-size: 1.6rem;
  padding: 0 1rem;
}

@media only screen and (max-width: 600px) {
  .Navbar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}