.Navbar {
  padding: 3rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid #ccc;
}
.Navbar a {
  font-family: inherit;
  font-size: 1.3rem;
  color: var(--brown);
}
.Navbar a.active {
  text-decoration: none;
  opacity: 0.5;
}
.Navbar__heading {
  font-family: "Cookie", "Poppins", sans-serif;
  font-size: 3rem;
}
