.SearchBar {
  display: flex;
  align-items: center;
  color: var(--blue);
}
.SearchBar label {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 600;
  margin-right: 0.5rem;
}
.SearchBar input {
  padding: 0.5rem 2rem;
  font-family: inherit;
  color: var(--blue);
  max-width: 20rem;
  overflow: hidden;
}
