.ThemeSelector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5rem;
}
.ThemeSelector__mode img {
  height: 3.3rem;
}
.ThemeSelector__btn {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid #888;
  cursor: pointer;
  opacity: 0.5;
  margin-left: 0.3rem;
}
.ThemeSelector__btn:hover {
  opacity: 1;
}
