@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Poppins:wght@100;400;600;800&display=swap");
html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 10px;
}
:root {
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vh;
}
